@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}



.name{
  font-family: 'SUSE', sans-serif;
  font-weight: 100;
  color:rgb(68, 68, 68);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name:hover{
  cursor:default;
}

 button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
} 

button:hover {
  border-color: #646cff;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;

  }

  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  left: 0px;
  padding: 0rem;
  width: 15%;
  z-index: 2;
  max-height: 100vh;
  overflow-y: hidden;
}

.journal_entry {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-left: 12rem;
  margin-top: 2rem;
  width: 80%;
  outline-style: none;
  border: none;
  z-index: 1;
}

.journal_entry input {
  outline: none;
  padding: 3rem;
  border: none;
}

.journal_entry .title {
  font-size: 3rem;
  background-color: transparent;

}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: 0;
}

.ql-editor{
    padding: 1rem 7rem;
    background-color: transparent;
    font-size: 13px;
    height:67vh;
    
}



.button-header{
    height: 120px;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-right:3px;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: .3px;


}

.header-slider button{
    border-radius: 0px;

}



.Active{
  background-color: #44C0FF;

}

.header-slider{
    overflow-y: scroll;
    position: relative;
    top:9px;
    width: 100%;
    padding:0;
    height:82vh;
    scroll-behavior: smooth;
}


.ql-editor::-webkit-scrollbar {
    width: 1px;
  }
  

  .ql-editor::-webkit-scrollbar-track {
    border-radius: 1px;
  }

  .ql-editor::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
  }
  
  .ql-editor::-webkit-scrollbar-thumb:hover {
    background: #717171;
  }


.name{
    margin-bottom: 10px;
}


.ql-editor.ql-blank::before {
  color: #888; /* Placeholder text color */
  font-style: italic; /* Placeholder text style */
  font-size: 16px; /* Placeholder text size */
  font-family: 'Arial', sans-serif; /* Placeholder text font */
  padding: 6rem;
  padding-top:0rem;
  


}

.ql-editor{
  overflow-y: scroll;
}




.done:hover{
  border:none
}

.done:active{
  border: none;
}

.done:focus, .done::focus-visible{
  border:none;
}

.ql-snow .ql-picker-options{
  background-color: black;
}

.done{
  color:white;
  position: absolute;
  cursor: pointer;

}

.notdone{
  color:red(93, 93, 93);
  position: absolute;
  top:9.6rem;
  cursor:default;
  height:2.1rem;
  width:1.3rem;
  display: flex;
  justify-content: center;
  left:2px;

}


.notdone:hover{
  border: none;

}


.done{
  all: none;
  position: absolute;
  top:9.6rem;
  height:2.1rem;
  width:1.3rem;
  display: flex;
  justify-content: center;
  left:2px;

}



.MuiSvgIcon-root, .MuiSvgIcon-fontSizeMedium, .css-i4bv87-MuiSvgIcon-root{
  font-size:1.2rem !important

}

