#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.name{
  font-size: 3rem;
}


.input_form, .ql-editor{
  min-height: 64vh;
  border: none;
  padding:0;

}

.input_form{
  border: transparent;
  
}

.ql-toolbar .ql-snow{
  border:none;
}
.ql-container.ql-snow span{ border: none !important; color:Red}



.ql-snow .ql-picker {
  color:white;
}

.ql-snow .ql-stroke  {
  color:white;
  stroke:white;
}

.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
  fill:white;
  background-color: black;
}

.ql-editor, .ql_blanks{
  background-color: black;
}

.ql-container.ql-snow {
  border: 1px solid transparent;
}


.navbar{
  padding:0;
  overflow-x: hidden;
  border-right: solid 1px rgb(61, 61, 61)
}


.header-slider{
  width:100%;
  overflow-x: hidden;
}

.header-slider button{
  width:100%;
  display: flex;
}


.date-card{
  background-color: rgb(14, 14, 14);
  display: flex;
  flex-direction: column;
  height:80%;
  width:40%;
  border: solid 1px transparent;
  border-radius: 8px;
  justify-content: center;
  color:rgb(218, 218, 218);
} 


.name-card{
  max-width:60%;
  overflow: hidden;
  height: auto;
  max-height: 100%;
  overflow-y: hidden;
  font-size:23px;
}